{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <title>Complex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.4.11/jqtree.css">
{% endblock head_content %}

{% block content %}
<div id="tree1" data-url="/example_data/" width="960" height="600"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.4.11/tree.jquery.js"></script>

<script>
    
    function parseData(data, parent) {
        for (key of Object.keys(data)) {
            let newNode = {"id": key, "name": key, "children": []}
            parent['children'].push(newNode)
            if (Array.isArray(data[key])) {
                for (i of data[key]) {
                    parseData(i, newNode)
                }
            }
            else if (typeof data[key] === 'object' && data[key] !== null) {
                parseData(data[key], newNode)
            }

        }
    }
    
    (function () {
        data = {{ data|safe }}

        root = {name: 'root', id: 'root', children: []}
        parseData(data, root)

        $('#tree1').tree({
            data: [root],
            autoOpen: true,
            dragAndDrop: true
        });
    } ())
</script>
{% endblock content %}